################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/Snow.AuthorityManagement.Api/obj
/src/Snow.AuthorityManagement.Api/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Common/obj
/src/Snow.AuthorityManagement.Common/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Core/obj
/src/Snow.AuthorityManagement.Core/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Data/obj
/src/Snow.AuthorityManagement.Data/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.IRepository/obj
/src/Snow.AuthorityManagement.IRepository/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.IServices/obj
/src/Snow.AuthorityManagement.Repository/obj
/src/Snow.AuthorityManagement.Repository/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.RepositoryFactory/obj
/src/Snow.AuthorityManagement.RepositoryFactory/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Services/obj
/src/Snow.AuthorityManagement.Services/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Web/obj
/src/Snow.AuthorityManagement.Web/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Common/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Core/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Data/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.IRepository/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.IServices/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Repository/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Services/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Web/App_Data
/src/Snow.AuthorityManagement.Web/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.IService/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.IService/obj
/src/Snow.AuthorityManagement.Service/bin
/src/Snow.AuthorityManagement.Service/obj
/src/Anc/bin/Debug/netcoreapp2.2
/src/Anc/obj
/src/Anc/bin/Debug/netcoreapp2.1
/src/Anc.EntityFrameworkCore/bin/Debug
/src/Anc.EntityFrameworkCore/obj
/src/Anc.Dapper/bin/Debug
/src/Anc.Dapper/obj
/src/Anc.Web.Mvc/obj
/src/Anc.Web.Mvc/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Web.Host/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Web.Host/obj
/src/Anc.Web.Mvc/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Application/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Application/obj/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Common/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Core/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Data/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Repository/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Web/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Web.Host/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Application/obj
/src/Snow.AuthorityManagement.Web.Core/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Web.Core/obj
/src/Snow.AuthorityManagement.Web.Mvc/App_Data
/src/Snow.AuthorityManagement.Web.Mvc/bin/Debug/netcoreapp2.2
/src/Snow.AuthorityManagement.Web.Mvc/obj
/src/Anc/bin
/src/Anc.Dapper/bin/Release/netcoreapp3.0
/src/Anc.EntityFrameworkCore/bin/Release/netcoreapp3.0
/src/Anc.Web.Mvc/bin
/src/Snow.AuthorityManagement.Application/bin
/src/Snow.AuthorityManagement.Common/bin
/src/Snow.AuthorityManagement.Core/bin
/src/Snow.AuthorityManagement.Data/bin
/src/Snow.AuthorityManagement.Repository/bin
/src/Snow.AuthorityManagement.Web.Core/bin
/src/Snow.AuthorityManagement.Web.Mvc/bin
/Snow.CacheManager/bin/Release/netcoreapp3.0
/Snow.CacheManager/obj
/src/bin/Release
/src/obj
/src/Snow.CacheManager.Core/bin/Release/netcoreapp3.0
/src/Snow.CacheManager.Core/obj
/src/Snow.CacheManager.Microsoft.Extensions.Caching.Memory/bin
/src/Snow.CacheManager.Microsoft.Extensions.Caching.Memory/obj
/src/Anc.AspNetCore.Mvc/bin/Debug/netcoreapp3.0
/src/Anc.AspNetCore.Mvc/obj
/src/Anc.Auditing/bin/Debug/netcoreapp3.0
/src/Anc.Auditing/obj
/src/Anc.Authorization/bin/Debug/netcoreapp3.0
/src/Anc.Authorization/obj
/src/Anc.Core/bin/Debug/netcoreapp3.0
/src/Anc.Core/obj
/src/Anc.Security.Claims/bin/Debug/netcoreapp3.0
/src/Anc.Security.Claims/obj
/src/Anc.Threading/bin/Debug/netcoreapp3.0
/src/Anc.Threading/obj
/src/Anc.Ddd.Application/obj
/src/Anc.Ddd.Domain/bin/Debug
/src/Anc.Ddd.Domain/obj
/src/Microsoft.Extensions.Caching.Abstractions.Extension/bin/Debug/netcoreapp3.1
/src/Microsoft.Extensions.Caching.Abstractions.Extension/obj
/src/Anc.Ddd.Application/bin/Debug/netcoreapp3.0
/src/Snow.Extensions.Json.Abstractions/obj
/src/Snow.Extensions.Json.Newtonsoft/obj
/src/Snow.Extensions.Json.SystemText/obj
/aspnet-core/.vs
/aspnet-core/src/Anc.AspNetCore.Mvc/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.AspNetCore.Mvc/obj
/aspnet-core/src/Anc.Auditing/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Auditing/obj
/aspnet-core/src/Anc.Authorization/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Authorization/obj
/aspnet-core/src/Anc.Core/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Core/obj
/aspnet-core/src/Anc.Dapper/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Dapper/obj
/aspnet-core/src/Anc.Ddd.Application/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Ddd.Application/obj
/aspnet-core/src/Anc.Ddd.Domain/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Ddd.Domain/obj
/aspnet-core/src/Anc.EntityFrameworkCore/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.EntityFrameworkCore/obj
/aspnet-core/src/Anc.Security/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Security/obj
/aspnet-core/src/Anc.Threading/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Threading/obj
/aspnet-core/src/Anc.Web.Mvc/bin/Debug/netcoreapp3.0
/aspnet-core/src/Anc.Web.Mvc/obj
/aspnet-core/src/Snow.AuthorityManagement.Application/bin/Debug/netcoreapp3.0
/aspnet-core/src/Snow.AuthorityManagement.Application/obj
/aspnet-core/src/Snow.AuthorityManagement.Common/bin/Debug/netcoreapp3.0
/aspnet-core/src/Snow.AuthorityManagement.Common/obj
/aspnet-core/src/Snow.AuthorityManagement.Core/bin/Debug/netcoreapp3.0
/aspnet-core/src/Snow.AuthorityManagement.Core/obj
/aspnet-core/src/Snow.AuthorityManagement.Data/bin/Debug/netcoreapp3.0
/aspnet-core/src/Snow.AuthorityManagement.Data/obj
/aspnet-core/src/Snow.AuthorityManagement.Repository/bin/Debug/netcoreapp3.0
/aspnet-core/src/Snow.AuthorityManagement.Repository/obj
/aspnet-core/src/Snow.AuthorityManagement.Web.Core/bin/Debug/netcoreapp3.0
/aspnet-core/src/Snow.AuthorityManagement.Web.Core/obj
/aspnet-core/src/Snow.AuthorityManagement.Web.Mvc/App_Data
/aspnet-core/src/Snow.AuthorityManagement.Web.Mvc/bin/Debug/netcoreapp3.0
/aspnet-core/src/Snow.AuthorityManagement.Web.Mvc/obj
/aspnet-core/src/Snow.AuthorityManagement.Web.Mvc/appsettings.Development.json
