################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/Snow.AuthorityManagement.Api/obj
/src/Snow.AuthorityManagement.Api/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Common/obj
/src/Snow.AuthorityManagement.Common/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Core/obj
/src/Snow.AuthorityManagement.Core/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Data/obj
/src/Snow.AuthorityManagement.Data/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.IRepository/obj
/src/Snow.AuthorityManagement.IRepository/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.IServices/obj
/src/Snow.AuthorityManagement.Repository/obj
/src/Snow.AuthorityManagement.Repository/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.RepositoryFactory/obj
/src/Snow.AuthorityManagement.RepositoryFactory/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Services/obj
/src/Snow.AuthorityManagement.Services/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Web/obj
/src/Snow.AuthorityManagement.Web/bin/Debug/netcoreapp2.1
/src/Snow.AuthorityManagement.Common/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Core/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Data/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.IRepository/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.IServices/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Repository/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Services/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.Web/App_Data
/src/Snow.AuthorityManagement.Web/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.IService/bin/Release/netcoreapp2.1
/src/Snow.AuthorityManagement.IService/obj
/src/Snow.AuthorityManagement.Service/bin
/src/Snow.AuthorityManagement.Service/obj
/src/Anc/bin/Debug/netcoreapp2.2
/src/Anc/obj
/src/Anc/bin/Debug/netcoreapp2.1
/src/Anc.EntityFrameworkCore/bin/Debug
/src/Anc.EntityFrameworkCore/obj
/src/Anc.Dapper/bin/Debug
/src/Anc.Dapper/obj
