@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_LayoutPageTreeTable.cshtml";
}
<div id="toolbar">
    <div class="btn-group" role="group" aria-label="Operate Group">
        <button id="create" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>添加</button>
    </div>
</div>
<!--搜索-->
<div class="card">
    <div class="card-header">
        查询条件
    </div>
    <div class="card-body">
        <form id="formSearch" class="form-inline">
            <label class="sr-only" for="txt_search_name">菜单名</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="txt_search_name" placeholder="菜单名">
        </form>
        <input type="hidden" id="parentId" />
    </div>
</div>
@section Scripts
{
    <environment include="Development">
        <script src="~/view-resources/menu/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/view-resources/menu/index.min.js" asp-append-version="true"></script>
    </environment>
}